<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="pragma" content="no-cache"/>
    <meta http-equiv="cache-control" content="no-cache"/>
    <meta name="author" content="yanghang"/>
    <meta name="email" content="470193837@qq.com"/>
    <meta name="keywords" content="pm-cli"/>
    <meta name="description" content="pm-cli品茗前端脚手架"/>
    <link rel="icon" href="./favicon.ico">
    <link rel="stylesheet" href="./css/normalize.css">
    <link rel="stylesheet" href="./css/style.css">
    <title>品茗 pm-cli前端脚手架</title>
</head>
<body>
<div class="app">
    <img src="./images/logo.png" alt="">
    <h1>欢迎使用pm-cli前端脚手架</h1>
    <p>模板名称：安装普通html模板</p>
    <h3>vue社区</h3>
    <ul>
        <li><a href="https://vuejs.org" target="_blank" rel="noopener">Core Docs</a></li>
        <li><a href="https://forum.vuejs.org" target="_blank" rel="noopener">Forum</a></li>
        <li><a href="https://chat.vuejs.org" target="_blank" rel="noopener">Community Chat</a></li>
        <li><a href="https://twitter.com/vuejs" target="_blank" rel="noopener">Twitter</a></li>
        <li><a href="https://news.vuejs.org" target="_blank" rel="noopener">News</a></li>
    </ul>
    <h3>生态系统</h3>
    <ul>
        <li><a href="https://router.vuejs.org" target="_blank" rel="noopener">vue-router</a></li>
        <li><a href="https://vuex.vuejs.org" target="_blank" rel="noopener">vuex</a></li>
        <li><a href="https://github.com/vuejs/vue-devtools#vue-devtools" target="_blank" rel="noopener">vue-devtools</a>
        </li>
        <li><a href="https://vue-loader.vuejs.org" target="_blank" rel="noopener">vue-loader</a></li>
        <li><a href="https://github.com/vuejs/awesome-vue" target="_blank" rel="noopener">awesome-vue</a></li>
    </ul>
    <h3>精选插件</h3>
    <ul>
        <li><a href="https://lodash.com/" target="_blank" rel="noopener">lodash</a></li>
        <li><a href="https://api.jquery.com/" target="_blank" rel="noopener">jquery</a></li>
        <li><a href="//hilongjw.github.io/vue-progressbar/" target="_blank" rel="noopener">vue-progressbar</a></li>
        <li><a href="//axios-js.com/zh-cn/docs/index.html" target="_blank" rel="noopener">axios</a></li>
        <li><a href="https://dayjs.gitee.io/zh-CN/" target="_blank" rel="noopener">Day.js</a></li>
    </ul>
    <h3>数据图表</h3>
    <ul>
        <li><a href="https://echarts.apache.org/zh/index.html" target="_blank" rel="noopener">ECharts</a></li>
        <li><a href="https://antv.vision/zh" target="_blank" rel="noopener">Antv</a></li>
    </ul>
</div>
</body>
</html>